<div class="ltablet:px-6 lg:pr-12">
  <h4 class="font-heading font-semibold text-lg text-muted-800 dark:text-white">
    Industry
  </h4>
  <div class="mt-6">
    <ul class="space-y-5">
      <!--Filter item-->
      <li class="flex items-center justify-between">
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:ring-0 outline-transparent focus-within:outline-dashed focus-within:outline-gray-300 dark:focus-within:outline-gray-600 focus-within:outline-offset-2 cursor-pointer transition-all duration-300"
          >
            <input
              id="i-1"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-slate-700 dark:border-slate-700 border-2 border-slate-400 z-0 peer-checked:border-primary-500"
            ></div>

            <iconify-icon
              class="iconify text-current relative fill-current opacity-0 w-3 h-3 flex items-center justify-center text-lg stroke-2 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              icon="lucide:check"
            ></iconify-icon>
          </div>
          <label
            for="i-1"
            class="cursor-pointer select-none text-slate-400 font-alt text-md"
          >
            Freelance
          </label>
        </div>
        <span
          class="inline-block py-1 px-2 font-sans font-semibold text-xs ml-auto bg-muted-200 text-muted-500 dark:bg-muted-700 dark:text-muted-200 rounded-full"
        >
          12
        </span>
      </li>
      <!--Filter item-->
      <li class="flex items-center justify-between">
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:ring-0 outline-transparent focus-within:outline-dashed focus-within:outline-gray-300 dark:focus-within:outline-gray-600 focus-within:outline-offset-2 cursor-pointer transition-all duration-300"
          >
            <input
              id="i-2"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-slate-700 dark:border-slate-700 border-2 border-slate-400 z-0 peer-checked:border-primary-500"
            ></div>

            <iconify-icon
              class="iconify text-current relative fill-current opacity-0 w-3 h-3 flex items-center justify-center text-lg stroke-2 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              icon="lucide:check"
            ></iconify-icon>
          </div>
          <label
            for="i-2"
            class="cursor-pointer select-none text-slate-400 font-alt text-md"
          >
            Full time
          </label>
        </div>
        <span
          class="inline-block py-1 px-2 font-sans font-semibold text-xs ml-auto bg-muted-200 text-muted-500 dark:bg-muted-700 dark:text-muted-200 rounded-full"
        >
          287
        </span>
      </li>
      <!--Filter item-->
      <li class="flex items-center justify-between">
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:ring-0 outline-transparent focus-within:outline-dashed focus-within:outline-gray-300 dark:focus-within:outline-gray-600 focus-within:outline-offset-2 cursor-pointer transition-all duration-300"
          >
            <input
              id="i-3"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-slate-700 dark:border-slate-700 border-2 border-slate-400 z-0 peer-checked:border-primary-500"
            ></div>

            <iconify-icon
              class="iconify text-current relative fill-current opacity-0 w-3 h-3 flex items-center justify-center text-lg stroke-2 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              icon="lucide:check"
            ></iconify-icon>
          </div>
          <label
            for="i-3"
            class="cursor-pointer select-none text-slate-400 font-alt text-md"
          >
            Part time
          </label>
        </div>
        <span
          class="inline-block py-1 px-2 font-sans font-semibold text-xs ml-auto bg-muted-200 text-muted-500 dark:bg-muted-700 dark:text-muted-200 rounded-full"
        >
          49
        </span>
      </li>
      <!--Filter item-->
      <li class="flex items-center justify-between">
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:ring-0 outline-transparent focus-within:outline-dashed focus-within:outline-gray-300 dark:focus-within:outline-gray-600 focus-within:outline-offset-2 cursor-pointer transition-all duration-300"
          >
            <input
              id="i-4"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-slate-700 dark:border-slate-700 border-2 border-slate-400 z-0 peer-checked:border-primary-500"
            ></div>

            <iconify-icon
              class="iconify text-current relative fill-current opacity-0 w-3 h-3 flex items-center justify-center text-lg stroke-2 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              icon="lucide:check"
            ></iconify-icon>
          </div>
          <label
            for="i-4"
            class="cursor-pointer select-none text-slate-400 font-alt text-md"
          >
            Remote
          </label>
        </div>
        <span
          class="inline-block py-1 px-2 font-sans font-semibold text-xs ml-auto bg-muted-200 text-muted-500 dark:bg-muted-700 dark:text-muted-200 rounded-full"
        >
          81
        </span>
      </li>
      <!--Filter item-->
      <li class="flex items-center justify-between">
        <div class="relative flex items-center">
          <div
            class="group relative overflow-hidden text-primary-500 w-5 h-5 rounded flex flex-shrink-0 justify-center items-center mr-2 outline-1 focus-within:ring-0 outline-transparent focus-within:outline-dashed focus-within:outline-gray-300 dark:focus-within:outline-gray-600 focus-within:outline-offset-2 cursor-pointer transition-all duration-300"
          >
            <input
              id="i-5"
              type="checkbox"
              class="peer cursor-pointer opacity-0 absolute h-5 w-5 z-20"
            />
            <div
              class="absolute top-0 left-0 h-full w-full rounded bg-white dark:bg-slate-700 dark:border-slate-700 border-2 border-slate-400 z-0 peer-checked:border-primary-500"
            ></div>

            <iconify-icon
              class="iconify text-current relative fill-current opacity-0 w-3 h-3 flex items-center justify-center text-lg stroke-2 pointer-events-none transition duration-300 translate-y-6 peer-checked:opacity-100 peer-checked:translate-y-0 z-10"
              icon="lucide:check"
            ></iconify-icon>
          </div>
          <label
            for="i-5"
            class="cursor-pointer select-none text-slate-400 font-alt text-md"
          >
            Internship
          </label>
        </div>
        <span
          class="inline-block py-1 px-2 font-sans font-semibold text-xs ml-auto bg-muted-200 text-muted-500 dark:bg-muted-700 dark:text-muted-200 rounded-full"
        >
          62
        </span>
      </li>
    </ul>
  </div>
</div>
