<div class="grid md:grid-cols-2 gap-4">
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:airbnb-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Business analyst
          </h4>
          <p class="font-sans text-sm text-muted-400">Airbnb · 3 years exp</p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">Los Angeles</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">sep 29, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:atlassian"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            UI/UX Designer
          </h4>
          <p class="font-sans text-sm text-muted-400">
            Atlassian · 5 years exp
          </p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">San Diego</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">sep 26, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:google-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Frontend Developer
          </h4>
          <p class="font-sans text-sm text-muted-400">Google · 2 years exp</p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">New York</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">sep 29, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:asana-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Fullstack Developer
          </h4>
          <p class="font-sans text-sm text-muted-400">Asana · Junior</p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">Seattle</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">oct 12, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:buildkite-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Backend Developer
          </h4>
          <p class="font-sans text-sm text-muted-400">Buildkite · Junior</p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">Atlanta</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">oct 25, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:evergreen-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            sales Manager
          </h4>
          <p class="font-sans text-sm text-muted-400">
            Evergreen · 2 years exp
          </p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">New York</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">oct 29, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:planless-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Accountant
          </h4>
          <p class="font-sans text-sm text-muted-400">
            Planless · 10 years exp
          </p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">Los Angeles</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">nov 5, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:solid"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Frontend Developer
          </h4>
          <p class="font-sans text-sm text-muted-400">Solid · 3 years exp</p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">Los Angeles</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">nov 15, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:twilio-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Fullstack Developer
          </h4>
          <p class="font-sans text-sm text-muted-400">Twillio · Junior</p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">Boston</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">sep 12, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:moltin-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Product Manager
          </h4>
          <p class="font-sans text-sm text-muted-400">Moltin · Junior</p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">Miami</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">dec 12, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:invision-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            UI/UX Designer
          </h4>
          <p class="font-sans text-sm text-muted-400">Invision · 7 years exp</p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">Seattle</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">dec 25, 2022</span>
        </div>
      </div>
    </a>
  </div>
  <!--Item-->
  <div class="w-full">
    <a
      href="/job.html"
      class="
        block
        relative
        w-full
        p-6
        md:p-8
        border border-muted-200
        dark:border-muted-700
        bg-white
        dark:bg-muted-800
        rounded-lg
      "
    >
      <!--Badge-->
      <span
        class="
          absolute
          top-3
          right-3
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500/20
          dark:border-2
          dark:border-primary-500
          dark:text-primary-500
        "
      >
        Full Time
      </span>
      <div class="flex items-center gap-4 mt-4 md:mt-0">
        <div
          class="
            h-16
            w-16
            flex
            items-center
            justify-center
            mask mask-blob
            bg-muted-100
            dark:bg-muted-700
          "
        >
          <i class="iconify w-6 h-6" data-icon="logos:grammarly-icon"></i>
        </div>
        <div>
          <h4
            class="
              font-heading font-semibold
              text-lg text-muted-800
              dark:text-muted-100
            "
          >
            Fullstack Developer
          </h4>
          <p class="font-sans text-sm text-muted-400">
            Grammarly · 5 years exp
          </p>
        </div>
      </div>
      <div class="flex items-center justify-between mt-5">
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:map-pin"></i>
          <span class="font-sans text-base">San Diego</span>
        </div>
        <div class="flex items-center gap-2 text-muted-500">
          <i class="iconify w-4 h-4" data-icon="lucide:clock-2"></i>
          <span class="font-sans text-base">dec 19, 2022</span>
        </div>
      </div>
    </a>
  </div>
</div>
