<svg
  class="w-full"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 32.46 34.23"
>
  <g class="opacity-30">
    <ellipse
      class="stroke-current"
      fill="none"
      cx="16.23"
      cy="17.11"
      rx="15.59"
      ry="11.41"
      transform="translate(-7.34 17.89) rotate(-48.4)"
    />
    <ellipse
      class="stroke-current"
      fill="none"
      cx="16.23"
      cy="17.11"
      rx="11.41"
      ry="15.59"
      transform="translate(-7.34 17.89) rotate(-48.4)"
    />
    <ellipse
      class="stroke-current"
      fill="none"
      cx="16.23"
      cy="17.11"
      rx="11.41"
      ry="15.59"
      transform="translate(-0.99 0.99) rotate(-3.4)"
    />
    <ellipse
      class="stroke-current"
      fill="none"
      cx="16.23"
      cy="17.11"
      rx="15.59"
      ry="11.41"
      transform="translate(-0.99 0.99) rotate(-3.4)"
    />
  </g>
  <circle class="fill-primary-500" cx="16.3" cy="17.04" r="3.61" />
</svg>
