<div x-data="boxCarousel()" class="w-full max-w-5xl mx-auto py-6">
  <div class="swiper swiper-box">
    <!-- Carousel wrapper -->
    <div class="swiper-wrapper">
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-primary-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:laptop-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Development
            </h4>
            <p class="font-sans text-sm text-muted-400">1514 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-yellow-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:projector-screen-chart-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Strategy
            </h4>
            <p class="font-sans text-sm text-muted-400">287 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-emerald-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:cactus-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Green Skills
            </h4>
            <p class="font-sans text-sm text-muted-400">229 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-purple-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:rocket-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Startup
            </h4>
            <p class="font-sans text-sm text-muted-400">618 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-sky-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:megaphone-simple-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Marketing
            </h4>
            <p class="font-sans text-sm text-muted-400">1543 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-orange-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:graduation-cap-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Teaching
            </h4>
            <p class="font-sans text-sm text-muted-400">489 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-rose-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:first-aid-kit-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Healthcare
            </h4>
            <p class="font-sans text-sm text-muted-400">725 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-yellow-500">
            <i class="iconify w-10 h-10 mx-auto" data-icon="ph:key-duotone"></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Real Estate
            </h4>
            <p class="font-sans text-sm text-muted-400">347 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-teal-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:currency-eth-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Cryptos
            </h4>
            <p class="font-sans text-sm text-muted-400">942 Offers</p>
          </div>
        </a>
      </div>
      <!-- Slide -->
      <div class="swiper-slide">
        <a
          href="#"
          class="flex items-center justify-center px-4 py-6 rounded-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 hover:shadow-xl shadow-muted-400/10 hover:dark:shadow-muted-800/10 transition-all duration-300"
        >
          <div class="text-center text-primary-500">
            <i
              class="iconify w-10 h-10 mx-auto"
              data-icon="ph:factory-duotone"
            ></i>
            <h4 class="font-sans font-bold text-muted-800 dark:text-muted-100">
              Industry
            </h4>
            <p class="font-sans text-sm text-muted-400">511 Offers</p>
          </div>
        </a>
      </div>
    </div>

    <!-- Navigation buttons -->
    <div
      class="group swiper-button-prev rounded-full hover:bg-muted-100 dark:hover:bg-muted-700"
    >
      <i
        class="iconify text-muted-400 group-hover:text-primary-500 transition-colors duration-300"
        data-icon="lucide:arrow-left"
      ></i>
    </div>
    <div
      class="group swiper-button-next rounded-full hover:bg-muted-100 dark:hover:bg-muted-700"
    >
      <i
        class="iconify text-muted-400 group-hover:text-primary-500 transition-colors duration-300"
        data-icon="lucide:arrow-right"
      ></i>
    </div>
  </div>
</div>
