<div class="w-full max-w-5xl mx-auto py-6">
  <div class="grid ptablet:gap-8 ltablet:grid-cols-2 lg:grid-cols-2">
    <!--Column-->
    <div class="w-full h-full flex flex-col gap-6 md:gap-0 justify-center">
      <div class="space-y-4">
        <!--Title-->
        <h2
          class="font-heading font-bold text-4xl text-muted-800 dark:text-white"
        >
          Latest jobs posted
        </h2>
        <!--Subtitle-->
        <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
          Torquatus: Prorsus, inquit, assentior; Videmus igitur ut conquiescere.
        </p>
        <!--Link-->
        <a
          href="#"
          class="
            group
            inline-flex
            items-center
            gap-4
            text-primary-500
            hover:text-primary-400
            transition-colors
            duration-300
          "
        >
          <span class="font-sans font-medium text-sm">
            See all recent job offfers
          </span>
          <i
            class="
              iconify
              w-4
              h-4
              group-hover:translate-x-1
              transition-transform
              duration-300
            "
            data-icon="lucide:arrow-right"
          ></i>
        </a>
      </div>
    </div>
    <!--Column-->
    <div>
      <div class="bg-muted-100 dark:bg-muted-800 rounded-lg">
        <div class="p-0 md:px-6 md:py-6 lg:px-8">
          <div class="max-w-none mx-auto">
            <div
              class="
                bg-white
                dark:bg-muted-900
                overflow-hidden
                sm:rounded-lg sm:shadow
              "
            >
              <div
                class="
                  bg-white
                  dark:bg-muted-900
                  px-4
                  py-5
                  border-b border-muted-200
                  dark:border-muted-800
                  sm:px-6
                "
              >
                <h3
                  class="
                    text-lg
                    leading-6
                    font-medium
                    text-muted-900
                    dark:text-white
                  "
                >
                  Recent jobs
                </h3>
                <p
                  class="
                    mt-1
                    text-sm
                    leading-5
                    text-muted-500
                    dark:text-muted-400
                  "
                >
                  Lorem ipsum dolor sit amet consectetur adipisicing elit quam
                  corrupti consectetur.
                </p>
              </div>
              <!--Job list-->
              <ul>
                <!--List item-->
                <li>
                  <a
                    href="#"
                    class="
                      block
                      hover:bg-muted-50
                      dark:hover:bg-muted-800/50
                      focus:outline-none focus:bg-muted-50
                      dark:focus:bg-muted-800/50
                      transition
                      duration-150
                      ease-in-out
                    "
                  >
                    <div
                      class="w-full flex items-center px-4 py-4 sm:px-6 gap-4"
                    >
                      <div
                        class="
                          w-12
                          h-12
                          flex
                          items-center
                          justify-center
                          rounded-full
                          border border-muted-200
                          dark:border-muted-700
                        "
                      >
                        <i
                          class="iconify w-6 h-6"
                          data-icon="logos:airbnb-icon"
                        ></i>
                      </div>
                      <div class="grow">
                        <div class="flex items-center justify-between">
                          <div
                            class="
                              text-sm
                              leading-5
                              font-medium
                              text-primary-600
                              truncate
                            "
                          >
                            Backend Developer
                          </div>
                          <div class="ml-2 flex-shrink-0 flex">
                            <span
                              class="
                                font-sans
                                px-2
                                inline-flex
                                text-xs
                                leading-5
                                font-medium
                                rounded-full
                                bg-emerald-100
                                dark:bg-emerald-500/10
                                text-emerald-600
                              "
                            >
                              Full-time
                            </span>
                          </div>
                        </div>
                        <div class="mt-1 flex justify-between">
                          <div class="sm:flex">
                            <div
                              class="
                                font-sans
                                mr-6
                                flex
                                items-center
                                text-sm
                                leading-5
                                text-muted-500
                                dark:text-muted-400
                              "
                            >
                              <i
                                class="iconify w-5 h-5 mr-2"
                                data-icon="ph:laptop-duotone"
                              ></i>
                              <span>Development</span>
                            </div>
                          </div>
                          <div
                            class="
                              flex
                              items-center
                              text-sm
                              leading-5
                              text-muted-500
                              dark:text-muted-400
                            "
                          >
                            <i
                              class="iconify w-5 h-5 mr-1"
                              data-icon="ph:map-pin-duotone"
                            ></i>
                            <span>Remote</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <!--List item-->
                <li class="border-t border-muted-200 dark:border-muted-800">
                  <a
                    href="#"
                    class="
                      block
                      hover:bg-muted-50
                      dark:hover:bg-muted-800/50
                      focus:outline-none focus:bg-muted-50
                      dark:focus:bg-muted-800/50
                      transition
                      duration-150
                      ease-in-out
                    "
                  >
                    <div
                      class="w-full flex items-center px-4 py-4 sm:px-6 gap-4"
                    >
                      <div
                        class="
                          w-12
                          h-12
                          flex
                          items-center
                          justify-center
                          rounded-full
                          border border-muted-200
                          dark:border-muted-700
                        "
                      >
                        <i
                          class="iconify w-6 h-6"
                          data-icon="logos:google-icon"
                        ></i>
                      </div>
                      <div class="grow">
                        <div class="flex items-center justify-between">
                          <div
                            class="
                              text-sm
                              leading-5
                              font-medium
                              text-primary-600
                              truncate
                            "
                          >
                            Frontend Developer
                          </div>
                          <div class="ml-2 flex-shrink-0 flex">
                            <span
                              class="
                                font-sans
                                px-2
                                inline-flex
                                text-xs
                                leading-5
                                font-medium
                                rounded-full
                                bg-emerald-100
                                dark:bg-emerald-500/10
                                text-emerald-600
                              "
                            >
                              Full-time
                            </span>
                          </div>
                        </div>
                        <div class="mt-1 flex justify-between">
                          <div class="sm:flex">
                            <div
                              class="
                                font-sans
                                mr-6
                                flex
                                items-center
                                text-sm
                                leading-5
                                text-muted-500
                                dark:text-muted-400
                              "
                            >
                              <i
                                class="iconify w-5 h-5 mr-2"
                                data-icon="ph:laptop-duotone"
                              ></i>
                              <span>Development</span>
                            </div>
                          </div>
                          <div
                            class="
                              flex
                              items-center
                              text-sm
                              leading-5
                              text-muted-500
                              dark:text-muted-400
                            "
                          >
                            <i
                              class="iconify w-5 h-5 mr-1"
                              data-icon="ph:map-pin-duotone"
                            ></i>
                            <span>Remote</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
                <!--List item-->
                <li class="border-t border-muted-200 dark:border-muted-800">
                  <a
                    href="#"
                    class="
                      block
                      hover:bg-muted-50
                      dark:hover:bg-muted-800/50
                      focus:outline-none focus:bg-muted-50
                      dark:focus:bg-muted-800/50
                      transition
                      duration-150
                      ease-in-out
                    "
                  >
                    <div
                      class="w-full flex items-center px-4 py-4 sm:px-6 gap-4"
                    >
                      <div
                        class="
                          w-12
                          h-12
                          flex
                          items-center
                          justify-center
                          rounded-full
                          border border-muted-200
                          dark:border-muted-700
                        "
                      >
                        <i
                          class="iconify w-6 h-6"
                          data-icon="logos:atlassian"
                        ></i>
                      </div>
                      <div class="grow">
                        <div class="flex items-center justify-between">
                          <div
                            class="
                              text-sm
                              leading-5
                              font-medium
                              text-primary-600
                              truncate
                            "
                          >
                            UI/UX Designer
                          </div>
                          <div class="ml-2 flex-shrink-0 flex">
                            <span
                              class="
                                font-sans
                                px-2
                                inline-flex
                                text-xs
                                leading-5
                                font-medium
                                rounded-full
                                bg-emerald-100
                                dark:bg-emerald-500/10
                                text-emerald-600
                              "
                            >
                              Full-time
                            </span>
                          </div>
                        </div>
                        <div class="mt-1 flex justify-between">
                          <div class="sm:flex">
                            <div
                              class="
                                font-sans
                                mr-6
                                flex
                                items-center
                                text-sm
                                leading-5
                                text-muted-500
                                dark:text-muted-400
                              "
                            >
                              <i
                                class="iconify w-5 h-5 mr-2"
                                data-icon="ph:laptop-duotone"
                              ></i>
                              <span>Development</span>
                            </div>
                          </div>
                          <div
                            class="
                              flex
                              items-center
                              text-sm
                              leading-5
                              text-muted-500
                              dark:text-muted-400
                            "
                          >
                            <i
                              class="iconify w-5 h-5 mr-1"
                              data-icon="ph:map-pin-duotone"
                            ></i>
                            <span>Remote</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
