<div
  x-data="purchase()"
  class="
    sticky
    inset-x-0
    top-28
    left-0
    p-8
    ptablet:max-w-md ptablet:mx-auto ptablet:-mt-8
    ltablet:p-6
    bg-white
    dark:bg-muted-800
    border border-muted-200
    dark:border-muted-700
    rounded-xl
    shadow-xl shadow-muted-400/10
    dark:shadow-muted-800/10
  "
>
  <div data-cssninja-widget="add-to-cart" data-cssninja-template="mistral"></div>
  <script src="https://widgets.cssninja.io/init.js?t=123" module async defer></script>
</div>
