<div class="w-full bg-white dark:bg-muted-900">
  <div class="w-full max-w-7xl mx-auto">
    <div class="w-full py-16 px-4">
      <div class="flex items-center justify-between">
        <a
          href="https://cssninja.io"
          class="block font-sans text-muted-500 dark:text-muted-400"
        >
          <img
            class="block w-full max-w-[150px] dark:invert"
            src="/img/logo/cssninja.svg"
            alt="css ninja logo"
            width="150"
            height="45"
          />
          <div class="flex gap-2 text-sm">
            <span class="block">&copy; 2022-present.</span>
            <span class="block">All Rights Reserved.</span>
          </div>
        </a>

        <div class="flex items-center justify-end">
          <a
            href="https://github.com/cssninjaStudio"
            class="
              flex
              items-center
              justify-center
              rounded-full
              h-10
              w-10
              text-muted-500
              hover:text-muted-600 hover:bg-muted-100
              dark:hover:bg-muted-800 dark:hover:text-muted-100
              transition-colors
              duration-300
            "
          >
            <i class="iconify block w-5 h-5" data-icon="fa6-brands:github"></i>
            <span class="sr-only">GitHub</span>
          </a>
          <a
            href="https://www.facebook.com/cssninjaStudio"
            class="
              flex
              items-center
              justify-center
              rounded-full
              h-10
              w-10
              text-muted-500
              hover:text-muted-600 hover:bg-muted-100
              dark:hover:bg-muted-800 dark:hover:text-muted-100
              transition-colors
              duration-300
            "
          >
            <i
              class="iconify block w-5 h-5"
              data-icon="fa6-brands:facebook-f"
            ></i>
            <span class="sr-only">Facebook</span>
          </a>
          <a
            href="https://twitter.com/cssninjaStudio"
            class="
              flex
              items-center
              justify-center
              rounded-full
              h-10
              w-10
              text-muted-500
              hover:text-muted-600 hover:bg-muted-100
              dark:hover:bg-muted-800 dark:hover:text-muted-100
              transition-colors
              duration-300
            "
          >
            <i class="iconify block w-5 h-5" data-icon="fa6-brands:twitter"></i>
            <span class="sr-only">Twitter</span>
          </a>
          <a
            href="https://dribbble.com/DrissChelouati"
            class="
              flex
              items-center
              justify-center
              rounded-full
              h-10
              w-10
              text-muted-500
              hover:text-muted-600 hover:bg-muted-100
              dark:hover:bg-muted-800 dark:hover:text-muted-100
              transition-colors
              duration-300
            "
          >
            <i
              class="iconify block w-5 h-5"
              data-icon="fa6-brands:dribbble"
            ></i>
            <span class="sr-only">Twitter</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
