<section
  class="relative w-full min-h-screen ptablet:max-h-[1100px] bg-white dark:bg-muted-1000 overflow-hidden"
>
  <div class="relative w-full max-w-7xl mx-auto z-10">
    <div class="absolute start-0 top-0 flex h-full w-full justify-center">
      <div class="shrink-0">
        <svg
          width="1640"
          height="1024"
          viewBox="0 0 1440 1024"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1232_2031)">
            <path
              d="M15.5 1024V0M79.5 1024V0M143.5 1024V0M207.5 1024V0M271.5 1024V0M335.5 1024V0M399.5 1024V0M463.5 1024V0M527.5 1024V0M591.5 1024V0M655.5 1024V0M719.5 1024V0M783.5 1024V0M847.5 1024V0M911.5 1024V0M975.5 1024V0M1039.5 1024V0M1103.5 1024V0M1167.5 1024V0M1231.5 1024V0M1295.5 1024V0M1359.5 1024V0M1423.5 1024V0M0 31.5H1440M0 95.5H1440M0 159.5H1440M0 223.5H1440M0 287.5H1440M0 351.5H1440M0 415.5H1440M0 479.5H1440M0 543.5H1440M0 607.5H1440M0 671.5H1440M0 735.5H1440M0 799.5H1440M0 863.5H1440M0 927.5H1440M0 991.5H1440"
              class="stroke-current text-muted-100 dark:text-muted-800/50"
            />
            <path
              d="M272 160H335V223H272V160Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M1168 800H1231V863H1168V800Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M528 96H591V159H528V96Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M1104 160H1167V223H1104V160Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M1232 352H1295V415H1232V352Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M1040 672H1103V735H1040V672Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M784 800H847V863H784V800Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M336 480H399V543H336V480Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M208 800H271V863H208V800Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M464 736H527V799H464V736Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M336 224H399V287H336V224Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M976 287H1039V350H976V287Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M720 864H783V927H720V864Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M1232 480H1295V543H1232V480Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M1168 544H1231V607H1168V544Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M784 224H847V287H784V224Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M208 352H271V415H208V352Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M272 608H335V671H272V608Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M144 480H207V543H144V480Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M848 32H911V95H848V32Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M528 352H591V415H528V352Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
            <path
              d="M912 480H975V543H912V480Z"
              class="fill-current text-muted-50 dark:text-muted-800/20"
            />
          </g>
        </svg>
      </div>
    </div>
    <div class="w-full min-h-screen flex items-center">
      <div
        class="w-full h-full min-h-screen flex flex-col justify-between px-6"
      >
        <!--Hero content-->
        <div
          class="relative w-full h-full min-h-screen flex flex-col pt-32 pb-16 md:pt-20 ltablet:-m-3 lg:-mx-3"
        >
          <!--Column-->
          <div class="relative w-full px-6 my-6 z-10">
            <div class="max-w-2xl space-y-4 text-center mx-auto ptablet:mt-32">
              <h1
                class="relative top-1 font-heading font-extrabold text-5xl md:text-6xl text-muted-800 dark:text-white"
              >
                Mistral
                <span class="text-primary-500">UI</span>
              </h1>
              <p
                class="relative -top-1 font-sans text-lg text-muted-500 dark:text-muted-400"
              >
                Mistral is a well designed Tailwind CSS SaaS landing pages
                template that will help you jumpstart your development project
                seamlessly.
              </p>

              <div
                class="flex flex-col md:flex-row items-center justify-center gap-2"
              >
                <a
                  href="https://go.cssninja.io/buy-mistral"
                  class="relative font-sans font-normal inline-flex items-center justify-center leading-5 no-underline w-full md:w-auto min-w-[130px] space-x-1 text-white bg-primary-500 h-12 px-5 py-3 text-base rounded-xl hover:bg-primary-600 hover:shadow-xl hover:shadow-primary-500/20 tw-accessibility transition-all duration-300"
                >
                  Buy Now
                </a>
                <a
                  href="#get-started"
                  class="relative font-sans font-normal inline-flex items-center justify-center leading-5 no-underline w-full md:w-auto min-w-[130px] space-x-1 text-slate-700 bg-white border dark:text-white dark:bg-slate-700 dark:border-slate-600 h-12 px-5 py-3 text-base rounded-xl hover:bg-slate-50 tw-accessibility transition-all duration-300 scroll-link"
                >
                  Get Started
                </a>
              </div>
            </div>
          </div>

          <!--Column-->
          <div
            class="relative w-full max-w-4xl ptablet:max-w-xl mx-auto px-0 md:px-6 pt-6 mt-auto"
          >
            <img
              class="relative w-full block dark:hidden border border-muted-200 dark:border-muted-800 border-b-0 rounded-2xl shadow-2xl shadow-muted-500/20 dark:shadow-muted-800/20"
              src="/img/demo/mistral-mockup-1.png"
              alt="Mistral Mockup"
              width="720"
              height="624"
            />
            <img
              class="relative w-full hidden dark:block border border-muted-200 dark:border-muted-800 border-b-0 rounded-2xl shadow-2xl shadow-muted-500/20 dark:shadow-muted-800/20"
              src="/img/demo/mistral-mockup-1-dark.png"
              alt="Mistral Mockup"
              width="720"
              height="624"
            />

            <div
              class="absolute -top-20 -left-16 z-10 w-20 h-20 flex items-center justify-center bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 rounded-full shadow-2xl shadow-muted-500/20 dark:shadow-muted-800/20"
            >
              <img
                class="block w-10 h-10"
                src="/img/logos/tailwindcss.svg"
                alt="Tech logo"
              />
            </div>

            <div
              class="absolute top-16 -left-28 z-10 w-14 h-14 flex items-center justify-center bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 rounded-full shadow-2xl shadow-muted-500/20 dark:shadow-muted-800/20"
            >
              <img
                class="block w-6 h-6"
                src="/img/logos/vitejs.svg"
                alt="Tech logo"
              />
            </div>

            <div
              class="absolute -top-4 -left-48 z-10 w-16 h-16 flex items-center justify-center bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 rounded-full shadow-2xl shadow-muted-500/20 dark:shadow-muted-800/20"
            >
              <img
                class="block w-7 h-7"
                src="/img/logos/alpinejs.svg"
                alt="Tech logo"
              />

              <div
                class="absolute -top-24 -right-4 z-10 w-14 h-14 flex items-center justify-center bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 rounded-full shadow-2xl shadow-muted-500/20 dark:shadow-muted-800/20"
              >
                <img
                  class="block w-8 h-8"
                  src="/img/logos/html5.svg"
                  alt="Tech logo"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
