<vds-media>
  <vds-aspect-ratio ratio="1/1">
    <vds-video controls poster="/img/photo/600x600/3.jpg">
      <video
        controls
        muted
        src="https://vod-progressive.akamaized.net/exp=1663265575~acl=%2Fvimeo-prod-skyfire-std-us%2F01%2F4157%2F16%2F420785377%2F1817736707.mp4~hmac=bf0205c2daf93e5138020cf9434f7ef844f4aa47de1d0656bc3e323c1dc9cc0a/vimeo-prod-skyfire-std-us/01/4157/16/420785377/1817736707.mp4"
        preload="none"
      ></video>
      <vds-play-button
        class="
          absolute
          top-1/2
          left-1/2
          -translate-x-1/2 -translate-y-1/2
          z-20
          pointer-events-none
        "
      >
        <!-- play Icon. -->
        <button
          type="button"
          class="
            h-12
            w-12
            flex
            items-center
            justify-center
            rounded-full
            bg-white
            group-hover:bg-primary-500
            border-2 border-primary-500
            pointer-events-none
            media-paused:opacity-100
            media-playing:opacity-0
            opacity-0
            transition-all
            duration-300
          "
        >
          <i
            class="
              iconify
              w-6
              h-6
              -mr-1
              text-primary-500
              group-hover:text-white
              pointer-events-none
            "
            data-icon="ion:play"
          ></i>
        </button>
      </vds-play-button>
    </vds-video>
    <vds-poster
      class="
        absolute
        top-0
        left-0
        h-full
        w-full
        z-10
        media-playing:opacity-0
        transition-opacity
        duration-300
      "
      alt="Video poster"
    ></vds-poster>
  </vds-aspect-ratio>
</vds-media>
