<section class="w-full py-12 px-4 bg-white dark:bg-muted-900 overflow-hidden">
  <div class="w-full max-w-7xl mx-auto">
    <!--Content-->
    <div class="py-16">
      <div class="px-6 text-muted-600 md:px-12 xl:px-6">
        <div
          class="
            space-y-6
            md:space-y-0
            flex flex-col
            ltablet:flex-row
            lg:flex-row
            gap-6
            ptablet:gap-10
            lg:items-center lg:gap-12
          "
        >
          <div class="w-full md:1/2">
            <div class="relative w-full md:w-3/4 mx-auto">
              <img
                class="rounded-3xl"
                src="/img/photo/600x500/1.jpg"
                alt="image"
              />
              <img
                class="
                  block
                  absolute
                  -bottom-8
                  -right-8
                  max-w-[120px]
                  md:max-w-[160px]
                "
                src="/img/illustrations/plants/1.svg"
                alt=""
              />
            </div>
          </div>
          <div class="w-full md:1/2">
            <h3
              class="
                font-heading
                text-2xl text-muted-800
                dark:text-white
                font-bold
                md:text-4xl
              "
            >
              Successful careers are carried out by passionate managers
            </h3>
            <p class="font-sans mt-6 text-muted-500 dark:text-muted-400">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum
              omnis voluptatem accusantium nemo perspiciatis delectus atque
              autem! Voluptatum tenetur beatae unde aperiam, repellat expedita
              consequatur! Officiis id consequatur atque doloremque!
            </p>

            <div
              class="
                flex flex-col
                md:flex-row
                items-start
                md:items-center
                justify-between
                gap-4
                mt-6
                md:divide-x
                divide-muted-200
                dark:divide-muted-700
              "
            >
              <div class="flex-1 flex flex-col items-start md:items-center">
                <h4
                  class="
                    font-heading font-bold
                    text-4xl text-muted-800
                    dark:text-white
                  "
                >
                  200k+
                </h4>
                <p class="font-sans text-muted-400">Workers hired</p>
              </div>
              <div class="flex-1 flex flex-col items-start md:items-center">
                <h4
                  class="
                    font-heading font-bold
                    text-4xl text-muted-800
                    dark:text-white
                  "
                >
                  10k+
                </h4>
                <p class="font-sans text-muted-400">Active companies</p>
              </div>
              <div class="flex-1 flex flex-col items-start md:items-center">
                <h4
                  class="
                    font-heading font-bold
                    text-4xl text-muted-800
                    dark:text-white
                  "
                >
                  160+
                </h4>
                <p class="font-sans text-muted-400">Business types</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
