<template x-if="!isLoading">
  <div class="flex flex-col gap-12 py-12">
    <div class="flex flex-col ltablet:flex-row lg:flex-row gap-6 -m-3">
      <!--Column-->
      <div class="w-full ltablet:w-2/3 lg:w-2/3">
        <!--Featured article-->
        <a
          href="/post.html"
          class="
            h-full
            grid
            md:grid-cols-2
            rounded-xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            w-full
            max-w-4xl
            mx-auto
            overflow-hidden
          "
        >
          <!--Article image-->
          <div class="h-full p-5">
            <img
              class="block h-full w-full object-cover rounded-xl"
              src="/img/photo/600x500/2.jpg"
              alt="Woman wondering"
            />
          </div>
          <!--Article content-->
          <div
            class="
              flex flex-col
              items-start
              gap-4
              px-6
              md:px-10
              py-8
              -mt-8
              md:mt-0 md:-ml-5
            "
          >
            <div class="w-full space-y-4">
              <!--Badge-->
              <span
                class="
                  inline-block
                  font-sans
                  text-xs
                  py-1.5
                  px-3
                  m-1
                  rounded-lg
                  bg-primary-100
                  text-primary-500
                  dark:bg-primary-500 dark:text-white
                "
              >
                Business
              </span>
              <h3
                class="
                  font-heading
                  text-2xl
                  font-semibold
                  text-muted-800
                  dark:text-white
                  leading-8
                "
              >
                5 tips that will change your life when thinking about human
                resources
              </h3>
            </div>

            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <p
                class="
                  text-base
                  mt-auto
                  text-muted-600
                  dark:text-muted-400
                  leading-6
                "
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid me
                istud rogas? Quo modo autem philosophus loquitur? Honesta
                oratio, Socratica, Platonis etiam bonum.
              </p>
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/36.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Eliza Perez
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Sep 25, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 5 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Column-->
      <div class="w-full ltablet:w-1/3 lg:w-1/3">
        <!--Featured article-->
        <a
          href="/post.html"
          class="
            block
            h-full
            rounded-xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            w-full
            max-w-4xl
            mx-auto
            overflow-hidden
          "
        >
          <!--Article content-->
          <div
            class="h-full flex flex-col items-start gap-4 px-6 md:px-10 py-8"
          >
            <div class="w-full space-y-4">
              <!--Badge-->
              <span
                class="
                  inline-block
                  font-sans
                  text-xs
                  py-1.5
                  px-3
                  m-1
                  rounded-lg
                  bg-primary-100
                  text-primary-500
                  dark:bg-primary-500 dark:text-white
                "
              >
                Business
              </span>
              <h3
                class="
                  font-heading
                  text-2xl
                  font-semibold
                  text-muted-800
                  dark:text-white
                  leading-8
                "
              >
                How to keep the turnover rate low without sinking your business
              </h3>
            </div>

            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <p
                class="
                  text-base
                  mt-auto
                  text-muted-600
                  dark:text-muted-400
                  leading-6
                "
              >
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid me
                istud rogas? Quo modo autem philosophus loquitur? Honesta
                oratio, Socratica, Platonis etiam bonum.
              </p>
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/45.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Owen Wilson
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Sep 23, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 3 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--Articles grid-->
    <div
      class="
        grid
        ptablet:grid-cols-2
        ltablet:grid-cols-3
        lg:grid-cols-3
        gap-6
        -m-3
      "
    >
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Business
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/1.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                How technology will reshape the face of HR management
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/29.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Christina Chu
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Sep 21, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 8 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Business
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/2.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Plan you human resources requirements to avoid hassle and
                emergencies
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/27.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Ronald Sanders
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Sep 15, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 5 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Technology
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/3.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Optimizing your product images will positively impact your
                conversion rates
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/17.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Amelia Spenson
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Sep 9, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 6 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Technology
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/4.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Should you forbid cell phones in your company? pros and cons
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/38.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Lakisha Jamal
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Sep 3, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 8 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Startups
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/5.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                8 tips to identify and fight depressive thoughts when facing
                difficulties
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/39.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Adam Baker
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Aug 25, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 6 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Business
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/6.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Don't fall to anxiety. Learn to overcome the imposter syndrome
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/33.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Oba Mukele
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Aug 16, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 9 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Startups
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/7.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Imagery has become a significant part of everyday's design tasks
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/17.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Amelia Spenson
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Aug 8, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 4 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Startups
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/8.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                10 things that startups do better than corporate companies
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/30.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Anna Levante
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Aug 3, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 5 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Lifestyle
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/9.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                5 quick recipes that will make your work meals much more
                enjoyable
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/12.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Myriam Simon
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Jul 25, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 7 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Business
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/10.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Should you allow employees to take and share pictures of their
                work?
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/38.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Lakisha Jamal
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Jul 19, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 7 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Lifestyle
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/12.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Don't talk about work when having lunch with colleagues
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/31.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Miranda Smith
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Jul 10, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 3 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Business
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/11.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                The fragile balance between work, family and entertainment
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/42.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Helen Miller
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Jul 6, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 5 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Startups
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/13.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Worldwide — 65% of successful startups are ran by women in 2022
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/47.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Dan Mitchells
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Jun 24, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 4 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Lifestyle
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/14.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                Avoid junk food to become relaxed and more productive
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/15.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Sandra Gheller
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Jun 16, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 7 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <!--Article-->
      <div class="relative">
        <a
          href="/post.html"
          class="
            block
            h-full
            w-full
            rounded-2xl
            bg-white
            dark:bg-muted-800
            border border-muted-200
            dark:border-muted-700
            overflow-hidden
          "
        >
          <div class="h-full flex flex-col items-start gap-4 p-6">
            <!--Article content-->
            <div class="relative w-full space-y-4">
              <!--Article image-->
              <div class="relative">
                <!--Badge-->
                <span
                  class="
                    absolute
                    top-3
                    left-3
                    inline-block
                    font-sans
                    text-xs
                    py-1.5
                    px-3
                    m-1
                    rounded-lg
                    bg-primary-500
                    text-white
                    shadow-xl shadow-primary-500/20
                  "
                >
                  Business
                </span>
                <!--Featured image-->
                <img
                  class="w-full h-52 object-cover rounded-xl"
                  src="/img/photo/500x350/15.jpg"
                  alt="Post image"
                />
              </div>
              <!--Title-->
              <h3
                class="
                  font-heading
                  text-lg
                  font-medium
                  text-muted-800
                  dark:text-white
                  leading-6
                "
              >
                How to deal with inapropriate and toxic behaviors in your
                company
              </h3>
            </div>
            <!--Article meta-->
            <div class="w-full mt-auto space-y-6">
              <div class="flex items-center justify-start w-full relative">
                <img
                  class="w-12 mask mask-blob"
                  src="/img/avatars/52.jpg"
                  alt="avatar"
                />
                <div class="pl-2">
                  <h3
                    class="
                      font-heading font-medium
                      text-muted-800
                      dark:text-muted-50
                    "
                  >
                    Lana Henrikssen
                  </h3>
                  <p class="font-sans text-sm text-muted-400">Jun 2, 2022</p>
                </div>
                <div class="block ml-auto font-sans text-sm text-muted-400">
                  <span>— 10 min read</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!--Articles grid-->
    <div class="w-full flex items-center justify-center p-6 -m-3">
      <div class="w-full max-w-[210px] pt-16">
        <button
          class="
            w-full
            inline-flex
            items-center
            justify-center
            gap-2
            font-sans font-semibold
            bg-white
            dark:bg-muted-700
            text-muted-800
            dark:text-white
            border border-muted-300
            dark:border-muted-600
            relative
            px-6
            py-4
            rounded-lg
            tw-accessibility
            hover:shadow-xl hover:shadow-muted-400/20
            transition-all
            duration-300
          "
        >
          <div>Load More</div>
        </button>
      </div>
    </div>
  </div>
</template>
