<div>
  <div class="w-36 h-6 mb-6 rounded placeload animate-placeload"></div>

  <ul class="space-y-6">
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <div
            class="h-12 w-12 mask mask-blob placeload animate-placeload"
          ></div>
          <div>
            <div class="space-y-2">
              <div class="w-40 h-4 rounded placeload animate-placeload"></div>
              <div class="w-20 h-4 rounded placeload animate-placeload"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <div
            class="h-12 w-12 mask mask-blob placeload animate-placeload"
          ></div>
          <div>
            <div class="space-y-2">
              <div class="w-40 h-4 rounded placeload animate-placeload"></div>
              <div class="w-20 h-4 rounded placeload animate-placeload"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <div
            class="h-12 w-12 mask mask-blob placeload animate-placeload"
          ></div>
          <div>
            <div class="space-y-2">
              <div class="w-40 h-4 rounded placeload animate-placeload"></div>
              <div class="w-20 h-4 rounded placeload animate-placeload"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <div
            class="h-12 w-12 mask mask-blob placeload animate-placeload"
          ></div>
          <div>
            <div class="space-y-2">
              <div class="w-40 h-4 rounded placeload animate-placeload"></div>
              <div class="w-20 h-4 rounded placeload animate-placeload"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <div
            class="h-12 w-12 mask mask-blob placeload animate-placeload"
          ></div>
          <div>
            <div class="space-y-2">
              <div class="w-40 h-4 rounded placeload animate-placeload"></div>
              <div class="w-20 h-4 rounded placeload animate-placeload"></div>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
