<section class="w-full bg-muted-100 dark:bg-muted-900">
  <div class="w-full max-w-7xl mx-auto">
    <div class="py-14 px-4 relative">
      <div class="mt-12 w-full mx-auto grid md:grid-cols-2">
        <div
          class="
            bg-cover bg-center
            w-full
            mb-5
            md:mb-0
            ptablet:px-5
            ltablet:px-4
          "
        >
          <img
            class="h-full w-full max-w-lg mx-auto object-cover rounded-3xl"
            src="/img/photo/600x600/5.jpg"
            alt="Featured image"
            width="512"
            height="512"
          />
        </div>

        <div class="h-full flex items-center ptablet:px-4 ltablet:px-6">
          <div class="w-full max-w-lg">
            <!--Badge-->
            <span
              class="
                inline-block
                font-sans
                text-xs
                py-1.5
                px-3
                mb-4
                rounded-lg
                bg-primary-100
                text-primary-500
                dark:bg-primary-500 dark:text-white
              "
            >
              Business
            </span>
            <!--Title-->
            <h1
              class="
                font-heading
                text-muted-800
                dark:text-white
                font-extrabold
                text-3xl
                ltablet:text-4xl
                lg:text-4xl
              "
            >
              5 tips that will change your life when thinking about human
              resources
            </h1>
            <p
              class="
                font-sans
                text-base text-muted-500
                dark:text-muted-400
                max-w-md
                my-4
              "
            >
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </p>
            <div class="flex items-center justify-start w-full relative">
              <img
                class="w-12 mask mask-blob"
                src="/img/avatars/36.jpg"
                alt="avatar"
                width="48"
                height="48"
              />
              <div class="pl-2">
                <h3
                  class="
                    font-heading font-medium
                    text-muted-800
                    dark:text-muted-50
                  "
                >
                  Eliza Perez
                </h3>
                <p class="font-sans text-sm text-muted-400">Sep 25, 2022</p>
              </div>
              <div class="block ml-auto font-sans text-sm text-muted-400">
                <span>— 5 min read</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
