<section class="w-full bg-muted-100 dark:bg-muted-900">
  <div class="w-full max-w-7xl mx-auto">
    <div class="py-14 px-4 relative">
      <div class="mt-12 w-full mx-auto grid md:grid-cols-2">
        <div
          class="
            bg-cover bg-center
            w-full
            mb-5
            md:mb-0
            ptablet:px-5
            ltablet:px-4
          "
        >
          <div
            class="
              min-h-[345px]
              ptablet:min-h-[365px]
              ltablet:min-h-[465px]
              lg:min-h-[465px]
              w-full
              max-w-lg
              mx-auto
              aspect-square
              rounded-3xl
              placeload
              animate-placeload
            "
          ></div>
        </div>

        <div class="h-full flex items-center ptablet:px-4 ltablet:px-6">
          <div class="w-full max-w-lg">
            <!--Badge-->
            <span
              class="
                inline-block
                font-sans
                text-xs
                py-1.5
                px-3
                mb-4
                rounded-lg
                placeload
                animate-placeload
              "
            >
              Business
            </span>
            <!--Title-->
            <div class="space-y-2 mb-6">
              <div class="h-6 w-full rounded placeload animate-placeload"></div>
              <div class="h-6 w-3/4 rounded placeload animate-placeload"></div>
              <div class="h-6 w-1/2 rounded placeload animate-placeload"></div>
            </div>
            <div class="my-4 max-w-md space-y-2 mb-6">
              <div class="h-5 w-full rounded placeload animate-placeload"></div>
              <div class="h-5 w-3/4 rounded placeload animate-placeload"></div>
              <div class="h-5 w-1/2 rounded placeload animate-placeload"></div>
            </div>
            <div class="flex items-center justify-start w-full relative">
              <div
                class="h-12 w-12 mask mask-blob placeload animate-placeload"
              ></div>
              <div class="pl-2 space-y-1">
                <div class="h-4 w-28 rounded placeload animate-placeload"></div>
                <div class="h-4 w-20 rounded placeload animate-placeload"></div>
              </div>
              <div class="block ml-auto">
                <div class="h-4 w-20 rounded placeload animate-placeload"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
