<div>
  <h3
    class="
      font-heading
      text-muted-800
      dark:text-white
      font-semibold
      text-xl
      mb-6
    "
  >
    Popular Authors
  </h3>

  <ul class="space-y-6">
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/avatars/38.jpg"
            alt="Avatar"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="
                font-heading font-medium
                text-muted-800
                dark:text-muted-50
                leading-snug
                overflow-hidden
                text-ellipsis
                max-w-3/4
                line-clamp-1
              "
            >
              Lakisha Jamal
            </h3>
            <p class="font-sans text-sm text-muted-400">HR Manager</p>
          </div>
          <div class="ml-auto">
            <p class="font-sans text-sm text-muted-400">15 posts</p>
          </div>
        </div>
      </a>
    </li>
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/avatars/39.jpg"
            alt="Avatar"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="
                font-heading font-medium
                text-muted-800
                dark:text-muted-50
                leading-snug
                overflow-hidden
                text-ellipsis
                max-w-3/4
                line-clamp-1
              "
            >
              Adam Baker
            </h3>
            <p class="font-sans text-sm text-muted-400">Job Coach</p>
          </div>

          <div class="ml-auto">
            <p class="font-sans text-sm text-muted-400">9 posts</p>
          </div>
        </div>
      </a>
    </li>
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/avatars/29.jpg"
            alt="Avatar"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="
                font-heading font-medium
                text-muted-800
                dark:text-muted-50
                leading-snug
                overflow-hidden
                text-ellipsis
                max-w-3/4
                line-clamp-1
              "
            >
              Christina Chu
            </h3>
            <p class="font-sans text-sm text-muted-400">UI/UX Designer</p>
          </div>

          <div class="ml-auto">
            <p class="font-sans text-sm text-muted-400">6 posts</p>
          </div>
        </div>
      </a>
    </li>
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/avatars/58.jpg"
            alt="Avatar"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="
                font-heading font-medium
                text-muted-800
                dark:text-muted-50
                leading-snug
                overflow-hidden
                text-ellipsis
                max-w-3/4
                line-clamp-1
              "
            >
              Tara Wilson
            </h3>
            <p class="font-sans text-sm text-muted-400">Project Manager</p>
          </div>

          <div class="ml-auto">
            <p class="font-sans text-sm text-muted-400">4 posts</p>
          </div>
        </div>
      </a>
    </li>
    <!--Popular author-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex items-center justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/avatars/59.jpg"
            alt="Avatar"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="
                font-heading font-medium
                text-muted-800
                dark:text-muted-50
                leading-snug
                overflow-hidden
                text-ellipsis
                max-w-3/4
                line-clamp-1
              "
            >
              Mark Abramovitch
            </h3>
            <p class="font-sans text-sm text-muted-400">Solution Architect</p>
          </div>

          <div class="ml-auto">
            <p class="font-sans text-sm text-muted-400">2 posts</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
