<div>
  <div class="w-36 h-6 mb-6 rounded placeload animate-placeload"></div>

  <div class="flex flex-wrap gap-4">
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm
        placeload
        animate-placeload
      "
    >
      Human Resources
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm
        placeload
        animate-placeload
      "
    >
      Business
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm
        placeload
        animate-placeload
      "
    >
      Management
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm
        placeload
        animate-placeload
      "
    >
      Skills
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm
        placeload
        animate-placeload
      "
    >
      Hiring
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm
        placeload
        animate-placeload
      "
    >
      Interviews
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm
        placeload
        animate-placeload
      "
    >
      Recruitment
    </span>
  </div>
</div>
