<div>
  <h3
    class="
      font-heading
      text-muted-800
      dark:text-white
      font-semibold
      text-xl
      mb-6
    "
  >
    Tags
  </h3>

  <div class="flex flex-wrap gap-4">
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm text-muted-500
        dark:text-muted-300
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        shadow-lg shadow-muted-400/20
        dark:shadow-muted-700/20
      "
    >
      Human Resources
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm text-muted-500
        dark:text-muted-300
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        shadow-lg shadow-muted-400/20
        dark:shadow-muted-700/20
      "
    >
      Business
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm text-muted-500
        dark:text-muted-300
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        shadow-lg shadow-muted-400/20
        dark:shadow-muted-700/20
      "
    >
      Management
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm text-muted-500
        dark:text-muted-300
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        shadow-lg shadow-muted-400/20
        dark:shadow-muted-700/20
      "
    >
      Skills
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm text-muted-500
        dark:text-muted-300
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        shadow-lg shadow-muted-400/20
        dark:shadow-muted-700/20
      "
    >
      Hiring
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm text-muted-500
        dark:text-muted-300
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        shadow-lg shadow-muted-400/20
        dark:shadow-muted-700/20
      "
    >
      Interviews
    </span>
    <!--Tag-->
    <span
      class="
        font-sans
        py-1.5
        px-3
        rounded-xl
        text-sm text-muted-500
        dark:text-muted-300
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        shadow-lg shadow-muted-400/20
        dark:shadow-muted-700/20
      "
    >
      Recruitment
    </span>
  </div>
</div>
