<div>
  <h3
    class="font-heading text-muted-800 dark:text-white font-semibold text-xl mb-6"
  >
    Recent posts
  </h3>

  <ul class="space-y-6">
    <!--Recent post-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/photo/500x350/1.jpg"
            alt="Post image"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="font-heading font-medium text-muted-800 dark:text-muted-50 leading-snug overflow-hidden text-ellipsis max-w-3/4 line-clamp-2 mb-1"
            >
              How technology will reshape the face of HR management
            </h3>
            <p class="font-sans text-sm text-muted-400">Sep 21, 2022</p>
          </div>
        </div>
      </a>
    </li>
    <!--Recent post-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/photo/500x350/2.jpg"
            alt="Post image"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="font-heading font-medium text-muted-800 dark:text-muted-50 leading-snug overflow-hidden text-ellipsis max-w-3/4 line-clamp-2 mb-1"
            >
              Plan your human resources requirements to avoid hassle and
              emergencies
            </h3>
            <p class="font-sans text-sm text-muted-400">Sep 15, 2022</p>
          </div>
        </div>
      </a>
    </li>
    <!--Recent post-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/photo/500x350/3.jpg"
            alt="Post image"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="font-heading font-medium text-muted-800 dark:text-muted-50 leading-snug overflow-hidden text-ellipsis max-w-3/4 line-clamp-2 mb-1"
            >
              Optimizing your product images will positively impact your
              conversion rates
            </h3>
            <p class="font-sans text-sm text-muted-400">Sep 9, 2022</p>
          </div>
        </div>
      </a>
    </li>
    <!--Recent post-->
    <li>
      <a href="#" class="flex items-center">
        <div class="relative flex justify-start gap-2 w-full">
          <img
            class="h-12 w-12 mask mask-blob object-cover"
            src="/img/photo/500x350/4.jpg"
            alt="Post image"
            width="48"
            height="48"
          />
          <div>
            <h3
              class="font-heading font-medium text-muted-800 dark:text-muted-50 leading-snug overflow-hidden text-ellipsis max-w-3/4 line-clamp-2 mb-1"
            >
              Should you forbid cell phones in your company? pros and cons
            </h3>
            <p class="font-sans text-sm text-muted-400">Sep 3, 2022</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
