<div>
  <div class="w-36 h-6 mb-6 rounded placeload animate-placeload"></div>

  <div class="flex gap-4">
    <!--Facebook button-->
    <button
      class="flex-1 inline-flex justify-center items-center py-4 px-5 rounded placeload animate-placeload"
    >
      <iconify-icon class="iconify w-4 h-4" icon="fa6-brands:facebook-f"></iconify-icon>
    </button>
    <!--Twitter button-->
    <button
      class="flex-1 inline-flex justify-center items-center py-4 px-5 rounded placeload animate-placeload"
    >
      <iconify-icon class="iconify w-4 h-4" icon="fa6-brands:twitter"></iconify-icon>
    </button>
    <!--Linkedin button-->
    <button
      class="flex-1 inline-flex justify-center items-center py-4 px-5 rounded placeload animate-placeload"
    >
      <iconify-icon class="iconify w-4 h-4" icon="fa6-brands:linkedin-in"></iconify-icon>
    </button>
    <!--Mail button-->
    <button
      class="flex-1 inline-flex justify-center items-center py-4 px-5 rounded placeload animate-placeload"
    >
      <iconify-icon class="iconify w-4 h-4" icon="fa6-solid:envelope"></iconify-icon>
    </button>
  </div>
</div>
