<div class="w-full md:px-10 text-xl text-muted-800 leading-normal">
  <!--Article title-->
  <div class="space-y-4 mb-5">
    <a
      href="/blog.html"
      class="
        flex
        items-center
        gap-2
        font-sans font-medium
        text-base text-muted-400
        hover:text-primary-500
        transition-colors
        duration-300
      "
    >
      <i class="iconify w-5 h-5" data-icon="gg:arrow-long-left"></i>
      <span>Back to Blog</span>
    </a>
    <h2
      class="
        font-heading
        text-muted-800
        dark:text-white
        font-extrabold
        text-3xl
      "
    >
      The State of Human Resources
    </h2>
    <p class="font-sans text-sm md:text-base font-normal text-muted-500">
      Published on Sep 12, 2022
    </p>
  </div>

  <!--Article body-->
  <article class="prose dark:prose-dark lg:prose-xl py-6">
    <p>
      Have you ever wondered how
      <a class="text-primary-500 no-underline hover:underline" href="#">
        Human Resources
      </a>
      have become critical for any business or company? This article will try to
      deconstruct all misconceptions related to managing HR. You will learn some
      tricks from experienced people. This guidance will allow you to avoid
      making the same mistakes in the future.
    </p>
    <p>
      Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus,
      in mattis tortor sollicitudin pretium. Phasellus at diam posuere,
      scelerisque nisl sit amet, tincidunt urna. Cras nisi diam, pulvinar ut
      molestie eget.
    </p>
    <h3>Management is a big word</h3>
    <p>
      Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus,
      in mattis tortor sollicitudin pretium. Phasellus at diam posuere,
      scelerisque nisl sit amet, tincidunt urna. Cras nisi diam, pulvinar ut
      molestie eget, eleifend ac magna. Sed at lorem condimentum,
    </p>
    <img
      src="https://images.pexels.com/photos/3760778/pexels-photo-3760778.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="post image"
      width="712"
      height="474"
    />
    <h3>1. First, what do I need?</h3>
    <p>
      <strong>Dignissim lorem eu</strong>
      , blandit massa. Phasellus eleifend turpis vel erat bibendum scelerisque.
      Maecenas id risus dictum, rhoncus odio vitae, maximus purus. Etiam
      efficitur dolor in dolor molestie ornare. Aenean pulvinar diam nec neque
      tincidunt, vitae molestie quam fermentum. Donec ac pretium diam.
      Suspendisse sed odio risus. Nunc nec luctus nisi. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Duis nec nulla eget sem dictum elementum.
    </p>
    <ul>
      <li>
        Maecenas accumsan lacus sit amet elementum porta. Aliquam eu libero
        lectus. Fusce vehicula dictum mi. In non dulor at sem ullamcorper.
      </li>
      <li>
        Morbi varius posuere blandit. Praesent gravida bibendum neque eget
        commodo. Duis auctor ornare mauris, eu accumsan odio viverra in. Proin
        sagittis maximus pharetra.
      </li>
      <li>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia Curae; Nunc vitae pretium elit.
      </li>
      <li>
        You can even use some html code like
        <code>&lt;body /&gt;</code>
        .
      </li>
    </ul>

    <blockquote>
      Design is not just what it looks like and feels like. Design is how it
      works. — John Doe
    </blockquote>

    <!--Divider-->
    <hr />

    <pre>
      <code>
&lt;header class="site-header outer"&gt;
  &lt;div class="inner"&gt;
    &lt;span class="text"&gt;Hello World!&lt;/span&gt;
  &lt;/div&gt;
&lt;/header&gt;
      </code>
    </pre>
    <hr />
    <h3>2. Map your employees skills</h3>
    <p>
      Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus,
      in mattis tortor sollicitudin pretium. Phasellus at diam posuere,
      scelerisque nisl sit amet, tincidunt urna. Cras nisi diam, pulvinar ut
      molestie eget, eleifend ac magna. Sed at lorem condimentum,
    </p>
    <h3>3. Outsource your hiring process</h3>
    <p>
      Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus,
      in mattis tortor sollicitudin pretium. Phasellus at diam posuere,
      scelerisque nisl sit amet, tincidunt urna. Cras nisi diam, pulvinar ut
      molestie eget, eleifend ac magna. Sed at lorem condimentum,
    </p>
    <ol>
      <li>This is something cool you can do</li>
      <li>This is another thing you should do</li>
      <li>This is an optional thing you could do</li>
    </ol>
    <h3>4. Introduce flexibility</h3>
    <p>
      Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus,
      in mattis tortor sollicitudin pretium. Phasellus at diam posuere,
      scelerisque nisl sit amet, tincidunt urna. Cras nisi diam, pulvinar ut
      molestie eget, eleifend ac magna. Sed at lorem condimentum,
    </p>
    <h3>5. Don't underestimate team building</h3>
    <p>
      Sed dignissim lectus ut tincidunt vulputate. Fusce tincidunt lacus purus,
      in mattis tortor sollicitudin pretium. Phasellus at diam posuere,
      scelerisque nisl sit amet, tincidunt urna. Cras nisi diam, pulvinar ut
      molestie eget, eleifend ac magna. Sed at lorem condimentum,
    </p>
    <hr />
  </article>

  <!--Author-->
  <div class="w-full px-4 py-6">
    <div class="flex flex-col md:flex-row items-start gap-8 w-full relative">
      <img
        class="w-20 min-w-[5rem] mask mask-blob"
        src="/img/avatars/36.jpg"
        alt="avatar"
        width="80"
        height="80"
      />
      <div>
        <h4
          class="
            block
            font-heading font-medium
            text-muted-800
            dark:text-muted-50
          "
        >
          Eliza Perez
        </h4>
        <span class="block font-sans text-base text-muted-400 mb-4">
          Senior HR Manager
        </span>
        <p
          class="
            font-sans
            text-base
            max-w-xl
            text-muted-500
            dark:text-muted-400
          "
        >
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ita fit cum
          gravior, tum etiam splendidior oratio. Bonum negas esse divitias,
          praeposìtum esse dicis? Fortasse id optimum, sed ubi illud: Plus
          semper voluptatis? Isto modo, ne si avia quidem eius nata non esset.
        </p>
        <div class="flex gap-2 mt-4">
          <a
            href="#"
            class="
              w-8
              h-8
              flex
              items-center
              justify-center
              rounded-full
              hover:bg-muted-100
              dark:hover:bg-muted-700
              text-muted-500
              dark:text-white
              hover:text-primary-500
              dark:hover:text-primary-500
              transition-colors
              duration-300
            "
          >
            <i class="iconify w-4 h-4" data-icon="fa6-brands:facebook-f"></i>
          </a>
          <a
            href="#"
            class="
              w-8
              h-8
              flex
              items-center
              justify-center
              rounded-full
              hover:bg-muted-100
              dark:hover:bg-muted-700
              text-muted-500
              dark:text-white
              hover:text-primary-500
              dark:hover:text-primary-500
              transition-colors
              duration-300
            "
          >
            <i class="iconify w-4 h-4" data-icon="fa6-brands:linkedin-in"></i>
          </a>
          <a
            href="#"
            class="
              w-8
              h-8
              flex
              items-center
              justify-center
              rounded-full
              hover:bg-muted-100
              dark:hover:bg-muted-700
              text-muted-500
              dark:text-white
              hover:text-primary-500
              dark:hover:text-primary-500
              transition-colors
              duration-300
            "
          >
            <i class="iconify w-4 h-4" data-icon="fa6-brands:twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--Divider-->
  <hr class="my-11" />

  <!--Next & Prev Links-->
  <div class="font-sans flex justify-between content-center px-4 pb-12">
    <div class="text-left">
      <a href="#" class="group">
        <span
          class="
            block
            font-sans font-semibold
            text-xs
            uppercase
            text-muted-400
            mb-2
          "
        >
          Previous Post
        </span>
        <h3
          class="
            font-heading
            text-lg
            font-medium
            text-muted-800
            dark:text-white
            leading-6
            group-hover:text-primary-500
            transition-colors
            duration-300
          "
        >
          Plan you human resources...
        </h3>
      </a>
    </div>
    <div class="text-right">
      <a href="#" class="group">
        <span
          class="
            block
            font-sans font-semibold
            text-xs
            uppercase
            text-muted-400
            mb-2
          "
        >
          Next Post
        </span>
        <h3
          class="
            font-heading
            text-lg
            font-medium
            text-muted-800
            dark:text-white
            leading-6
            group-hover:text-primary-500
            transition-colors
            duration-300
          "
        >
          How technology will reshape...
        </h3>
      </a>
    </div>
  </div>
</div>
