<section class="w-full bg-muted-100 h-screen min-h-screen dark:bg-muted-900">
  <div class="w-full max-w-7xl mx-auto">
    <div class="w-full h-screen min-h-screen flex items-center overflow-hidden">
      <div class="w-full h-full flex flex-col justify-between px-6">
        <!--Hero content-->
        <div
          class="
            relative
            top-6
            w-full
            h-full
            flex flex-col
            ltablet:flex-row
            lg:flex-row
            items-center
            pt-20
            ltablet:pt-0
            lg:pt-0
            md:-m-3
          "
        >
          <!--Column-->
          <div class="w-full ltablet:w-1/2 lg:w-1/2 p-6">
            <div
              class="
                max-w-md
                space-y-4
                text-center
                mx-auto
                ltablet:text-left
                lg:text-left
                ltablet:mx-0
                lg:mx-0
              "
            >
              <h1
                class="
                  font-heading font-bold
                  text-5xl
                  md:text-6xl
                  text-muted-800
                  dark:text-white
                "
              >
                Make hiring so much smarter.
              </h1>
              <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
                Torquatus: Prorsus, inquit, assentior; Videmus igitur ut
                conquiescere ne infantes quidem possint.
              </p>

              <div
                class="
                  flex
                  items-center
                  justify-center
                  ltablet:justify-start
                  lg:justify-start
                  gap-x-2
                "
              >
                <button
                  class="
                    relative
                    font-sans font-normal
                    inline-flex
                    items-center
                    justify-center
                    leading-5
                    no-underline
                    min-w-[130px]
                    space-x-1
                    text-white
                    bg-primary-500
                    h-12
                    px-5
                    py-3
                    text-base
                    rounded-xl
                    hover:bg-primary-600
                    hover:shadow-xl
                    hover:shadow-primary-500/20
                    tw-accessibility
                    transition-all
                    duration-300
                  "
                >
                  Try for Free
                </button>
                <button
                  class="
                    relative
                    font-sans font-normal
                    inline-flex
                    items-center
                    justify-center
                    leading-5
                    no-underline
                    min-w-[130px]
                    space-x-1
                    text-slate-700
                    bg-white
                    border
                    dark:text-white dark:bg-slate-700 dark:border-slate-600
                    h-12
                    px-5
                    py-3
                    text-base
                    rounded-xl
                    hover:bg-slate-50
                    tw-accessibility
                    transition-all
                    duration-300
                  "
                >
                  How it Works
                </button>
              </div>
            </div>
          </div>

          <!--Column-->
          <div class="w-full ltablet:w-1/2 lg:w-1/2 p-6">
            <!--Content-->
            <div
              class="
                relative
                w-full
                max-w-[500px]
                h-[420px]
                ltablet:h-80
                mx-auto
              "
            >
              <div
                class="h-full w-full bg-primary-100 dark:bg-primary-500/20"
              ></div>
              <img
                src="/img/clipart/1.png"
                class="
                  block
                  absolute
                  bottom-0
                  inset-x-0
                  mx-auto
                  object-contain
                  max-w-[320px]
                "
                alt="Hero image"
              />
              <!--Floating-card left-->
              <div
                class="
                  hidden
                  md:block
                  absolute
                  -bottom-12
                  -left-12
                  bg-white
                  dark:bg-muted-800
                  border border-muted-200
                  dark:border-muted-700
                  rounded-xl
                  p-6
                  shadow-xl shadow-muted-400/10
                  dark:shadow-muted-800/10
                "
              >
                <div class="flex justify-between mb-4">
                  <h3
                    class="
                      font-heading font-semibold
                      text-muted-800
                      dark:text-muted-100
                    "
                  >
                    Top 5%
                  </h3>
                  <span class="font-sans text-sm text-muted-400">3 new</span>
                </div>
                <div class="flex justify-between items-center gap-4">
                  <img
                    class="object-cover w-12 h-12 mask mask-blob"
                    src="/img/avatars/48.jpg"
                    alt="Avatar"
                  />
                  <img
                    class="object-cover w-12 h-12 mask mask-blob"
                    src="/img/avatars/39.jpg"
                    alt="Avatar"
                  />
                  <img
                    class="object-cover w-12 h-12 mask mask-blob"
                    src="/img/avatars/26.jpg"
                    alt="Avatar"
                  />
                  <img
                    class="object-cover w-12 h-12 mask mask-blob"
                    src="/img/avatars/25.jpg"
                    alt="Avatar"
                  />
                </div>
              </div>
              <!--Floating-card right-->
              <div
                class="
                  hidden
                  md:block
                  absolute
                  -top-12
                  -right-24
                  bg-white
                  dark:bg-muted-800
                  border border-muted-200
                  dark:border-muted-700
                  rounded-xl
                  p-5
                  shadow-xl shadow-muted-400/10
                  dark:shadow-muted-800/10
                "
              >
                <div class="flex items-center gap-2 mb-2">
                  <i
                    class="iconify w-3 h-3 text-yellow-400"
                    data-icon="uiw:star-on"
                  ></i>
                  <i
                    class="iconify w-3 h-3 text-yellow-400"
                    data-icon="uiw:star-on"
                  ></i>
                  <i
                    class="iconify w-3 h-3 text-yellow-400"
                    data-icon="uiw:star-on"
                  ></i>
                  <i
                    class="iconify w-3 h-3 text-yellow-400"
                    data-icon="uiw:star-on"
                  ></i>
                </div>
                <p
                  class="
                    font-sans
                    text-sm text-muted-400
                    max-w-[220px]
                    leading-tight
                    mb-2
                  "
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Obsecro, inquit.
                </p>
                <div class="flex items-center gap-2">
                  <img
                    class="object-cover w-8 h-8 mask mask-blob"
                    src="/img/avatars/42.jpg"
                    alt="Avatar"
                  />
                  <div>
                    <h5
                      class="
                        font-heading font-semibold
                        text-xs text-muted-800
                        dark:text-muted-100
                      "
                    >
                      Helen Miller
                    </h5>
                    <p class="font-sans text-xs text-muted-400">
                      CEO @Convenant
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Hero logos-->
        <div
          class="
            hidden
            w-full
            max-w-3xl
            mx-auto
            md:flex
            items-center
            justify-center
            gap-x-6
            pb-6
          "
        >
          <div class="flex-1">
            <img
              src="/img/brands/asuna.svg"
              class="block max-w-[130px] mx-auto object-contain dark:invert"
              alt="Client logo"
            />
          </div>
          <div class="flex-1">
            <img
              src="/img/brands/covenant.svg"
              class="block max-w-[130px] mx-auto object-contain dark:invert"
              alt="Client logo"
            />
          </div>
          <div class="flex-1">
            <img
              src="/img/brands/vonmo.svg"
              class="block max-w-[130px] mx-auto object-contain dark:invert"
              alt="Client logo"
            />
          </div>
          <div class="flex-1">
            <img
              src="/img/brands/infinite.svg"
              class="block max-w-[130px] mx-auto object-contain dark:invert"
              alt="Client logo"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
