<section class="w-full py-12 px-4 bg-white dark:bg-muted-900 overflow-hidden">
  <div class="w-full max-w-7xl mx-auto">
    <!--Section title-->
    <div class="w-full max-w-2xl mx-auto text-center space-y-4 py-6">
      <!--Badge-->
      <span
        class="inline-block font-sans text-xs py-1.5 px-3 m-1 rounded-lg bg-primary-100 text-primary-500 dark:bg-primary-500 dark:text-white"
      >
        Robust Software
      </span>
      <!--Title-->
      <h2
        class="font-heading font-bold text-4xl md:text-5xl text-muted-800 dark:text-white"
      >
        Some solid features
      </h2>
      <!--Subtitle-->
      <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum Torquatus:
        Prorsus, inquit, assentior.
      </p>
    </div>

    <!--Icon grid-->
    <div
      class="relative w-full max-w-6xl mx-auto grid ptablet:grid-cols-3 ltablet:grid-cols-4 lg:grid-cols-4 gap-x-6 gap-y-10 p-6"
    >
      <!--Icon grid item-->
      <div class="relative z-10">
        <div
          class="relative inline-flex justify-center items-center w-14 h-14 bg-primary-100 dark:bg-primary-500 text-primary-500 dark:text-white mask mask-hexed"
        >
          <i class="iconify w-6 h-6" data-icon="ph:ear-duotone"></i>
        </div>
        <div class="pt-2">
          <h4
            class="font-heading font-semibold text-base text-muted-800 dark:text-white mb-2"
          >
            Interview management
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior videmus.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div class="relative z-10">
        <div
          class="relative inline-flex justify-center items-center w-14 h-14 bg-lime-100 dark:bg-lime-500 text-lime-500 dark:text-white mask mask-hexed"
        >
          <i
            class="iconify w-6 h-6"
            data-icon="ph:magnifying-glass-duotone"
          ></i>
        </div>
        <div class="pt-2">
          <h4
            class="font-heading font-semibold text-base text-muted-800 dark:text-white mb-2"
          >
            Advanced search
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior videmus.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div class="relative z-10">
        <div
          class="relative inline-flex justify-center items-center w-14 h-14 bg-violet-100 dark:bg-violet-500 text-violet-500 dark:text-white mask mask-hexed"
        >
          <i class="iconify w-6 h-6" data-icon="ph:sparkle-duotone"></i>
        </div>
        <div class="pt-2">
          <h4
            class="font-heading font-semibold text-base text-muted-800 dark:text-white mb-2"
          >
            Hotlist / Talent pool
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior videmus.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div class="relative z-10">
        <div
          class="relative inline-flex justify-center items-center w-14 h-14 bg-yellow-100 dark:bg-yellow-500 text-yellow-500 dark:text-white mask mask-hexed"
        >
          <i class="iconify w-6 h-6" data-icon="ph:note-duotone"></i>
        </div>
        <div class="pt-2">
          <h4
            class="font-heading font-semibold text-base text-muted-800 dark:text-white mb-2"
          >
            Resume builder
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior videmus.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div class="relative z-10">
        <div
          class="relative inline-flex justify-center items-center w-14 h-14 bg-fuchsia-100 dark:bg-fuchsia-500 text-fuchsia-500 dark:text-white mask mask-hexed"
        >
          <i class="iconify w-6 h-6" data-icon="ph:envelope-duotone"></i>
        </div>
        <div class="pt-2">
          <h4
            class="font-heading font-semibold text-base text-muted-800 dark:text-white mb-2"
          >
            Email integration
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior videmus.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div class="relative z-10">
        <div
          class="relative inline-flex justify-center items-center w-14 h-14 bg-teal-100 dark:bg-teal-500 text-teal-500 dark:text-white mask mask-hexed"
        >
          <i
            class="iconify w-6 h-6"
            data-icon="ph:microsoft-excel-logo-duotone"
          ></i>
        </div>
        <div class="pt-2">
          <h4
            class="font-heading font-semibold text-base text-muted-800 dark:text-white mb-2"
          >
            CSV import / export
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior videmus.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div class="relative z-10">
        <div
          class="relative inline-flex justify-center items-center w-14 h-14 bg-rose-100 dark:bg-rose-500 text-rose-500 dark:text-white mask mask-hexed"
        >
          <i
            class="iconify w-6 h-6"
            data-icon="ph:circles-three-plus-duotone"
          ></i>
        </div>
        <div class="pt-2">
          <h4
            class="font-heading font-semibold text-base text-muted-800 dark:text-white mb-2"
          >
            Task management
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior videmus.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div class="relative z-10">
        <div
          class="relative inline-flex justify-center items-center w-14 h-14 bg-sky-100 dark:bg-sky-500 text-sky-500 dark:text-white mask mask-hexed"
        >
          <i class="iconify w-6 h-6" data-icon="ph:app-window-duotone"></i>
        </div>
        <div class="pt-2">
          <h4
            class="font-heading font-semibold text-base text-muted-800 dark:text-white mb-2"
          >
            Custom fields
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior videmus.
          </p>
        </div>
      </div>
    </div>

    <div class="text-center mt-8">
      <!--Link-->
      <a
        class="group inline-flex items-center gap-2 text-primary-500 hover:text-primary-400 transition-colors duration-300 cursor-pointer mt-4"
      >
        <span class="font-sans font-medium text-lg">See all features</span>
        <i
          class="iconify w-5 h-5 group-hover:translate-x-1 transition-transform duration-300"
          data-icon="lucide:arrow-right"
        ></i>
      </a>
    </div>
  </div>
</section>
