<section class="w-full py-12 px-4 bg-white dark:bg-muted-900 overflow-hidden">
  <div class="w-full max-w-7xl mx-auto">
    <!--Section title-->
    <div class="w-full max-w-2xl mx-auto text-center space-y-4 py-6">
      <!--Badge-->
      <span
        class="
          inline-block
          font-sans
          text-xs
          py-1.5
          px-3
          m-1
          rounded-lg
          bg-primary-100
          text-primary-500
          dark:bg-primary-500 dark:text-white
        "
      >
        Amazing Features
      </span>
      <!--Title-->
      <h2
        class="
          font-heading font-bold
          text-4xl
          md:text-5xl
          text-muted-800
          dark:text-white
        "
      >
        Everything you need to grow your team
      </h2>
      <!--Subtitle-->
      <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum Torquatus:
        Prorsus, inquit, assentior; Videmus igitur ut conquiescere.
      </p>
    </div>

    <!--Icon grid-->
    <div
      class="relative w-full max-w-6xl mx-auto grid md:grid-cols-3 gap-6 p-6"
    >
      <!--Polka dots-->
      <div class="absolute -top-5 -left-5 z-0">{{> shapes/polka}}</div>
      <div class="absolute -bottom-5 -right-5 z-0">{{> shapes/polka}}</div>

      <!--Icon grid item-->
      <div
        class="
          relative
          z-10
          bg-white
          dark:bg-muted-800
          border border-muted-200
          dark:border-muted-700
          rounded-xl
          p-8
          ptablet:p-5
          ltablet:p-8
          lg:p-8
          shadow-xl shadow-muted-400/10
          dark:shadow-muted-800/10
        "
      >
        <div
          class="
            relative
            inline-flex
            justify-center
            items-center
            w-16
            h-16
            bg-primary-100
            dark:bg-primary-500
            text-primary-500
            dark:text-white
            mask mask-hexed
          "
        >
          <i class="iconify w-7 h-7" data-icon="ph:briefcase-duotone"></i>
        </div>
        <div class="pt-2">
          <h4
            class="
              font-heading font-bold
              text-base text-muted-800
              dark:text-white
              mb-2
            "
          >
            Company job board
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior; Videmus igitur ut
            conquiescere.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div
        class="
          relative
          z-10
          bg-white
          dark:bg-muted-800
          border border-muted-200
          dark:border-muted-700
          rounded-xl
          p-8
          ptablet:p-5
          ltablet:p-8
          lg:p-8
          shadow-xl shadow-muted-400/10
          dark:shadow-muted-800/10
        "
      >
        <div
          class="
            relative
            inline-flex
            justify-center
            items-center
            w-16
            h-16
            bg-lime-100
            dark:bg-lime-500
            text-lime-500
            dark:text-white
            mask mask-hexed
          "
        >
          <i class="iconify w-7 h-7" data-icon="ph:circles-three-duotone"></i>
        </div>
        <div class="pt-2">
          <h4
            class="
              font-heading font-bold
              text-base text-muted-800
              dark:text-white
              mb-2
            "
          >
            Hiring workflow
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior; Videmus igitur ut
            conquiescere.
          </p>
        </div>
      </div>
      <!--Icon grid item-->
      <div
        class="
          relative
          z-10
          bg-white
          dark:bg-muted-800
          border border-muted-200
          dark:border-muted-700
          rounded-xl
          p-8
          ptablet:p-5
          ltablet:p-8
          lg:p-8
          shadow-xl shadow-muted-400/10
          dark:shadow-muted-800/10
        "
      >
        <div
          class="
            relative
            inline-flex
            justify-center
            items-center
            w-16
            h-16
            bg-emerald-100
            dark:bg-emerald-500
            text-emerald-500
            dark:text-white
            mask mask-hexed
          "
        >
          <i class="iconify w-7 h-7" data-icon="ph:users-three-duotone"></i>
        </div>
        <div class="pt-2">
          <h4
            class="
              font-heading font-bold
              text-base text-muted-800
              dark:text-white
              mb-2
            "
          >
            Team Collaboration
          </h4>
          <p class="font-sans text-sm text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior; Videmus igitur ut
            conquiescere.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
