<div class="w-full" x-data="{ content: 'Hello World!' }">
  <div class="text-center mb-5">
    <h1 class="font-heading font-bold text-muted-900 dark:text-white text-4xl">
      Vite + Tailwind + Alpine
    </h1>
  </div>

  <div class="grid md:grid-cols-3 gap-4">
    <!--Col-->
    <div
      class="
        px-6
        py-10
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        rounded-lg
        text-center
      "
    >
      <img
        class="block mx-auto max-w-[80px]"
        src="/img/logos/vitejs.svg"
        alt="Vite logo"
      />
      <div class="mt-4">
        <h3
          class="
            font-heading font-semibold
            text-muted-600
            dark:text-muted-100
            text-lg
            leading-tight
          "
        >
          Vite JS
        </h3>
        <p class="font-sans text-muted-400">version 3.x</p>
      </div>
    </div>
    <!--Col-->
    <div
      class="
        px-6
        py-10
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        rounded-lg
        text-center
      "
    >
      <img
        class="block mx-auto max-w-[80px]"
        src="/img/logos/tailwindcss.svg"
        alt="Tailwind logo"
      />
      <div class="mt-4">
        <h3
          class="
            font-heading font-semibold
            text-muted-600
            dark:text-muted-100
            text-lg
            leading-tight
          "
        >
          Tailwind CSS
        </h3>
        <p class="font-sans text-muted-400">version 3.x</p>
      </div>
    </div>
    <!--Col-->
    <div
      class="
        px-6
        py-10
        bg-white
        dark:bg-muted-800
        border border-muted-200
        dark:border-muted-700
        rounded-lg
        text-center
      "
    >
      <img
        class="block mx-auto max-w-[80px]"
        src="/img/logos/alpinejs.svg"
        alt="Alpine logo"
      />
      <div class="mt-4">
        <h3
          class="
            font-heading font-semibold
            text-muted-600
            dark:text-muted-100
            text-lg
            leading-tight
          "
        >
          Alpine JS
        </h3>
        <p class="font-sans text-muted-400">version 3.x</p>
      </div>
    </div>
  </div>
</div>
