<section class="w-full py-12 px-4 bg-white dark:bg-muted-900 overflow-hidden">
  <div class="w-full max-w-7xl mx-auto">
    <!--Wrapper-->
    <div class="flex flex-col-reverse md:flex-row items-center py-6 -m-3">
      <!--Column-->
      <div class="w-full md:w-1/2 relative p-6">
        <!--Items-->
        <div class="relative w-full max-w-sm mx-auto">
          <!--Background shape-->
          <div
            class="
              absolute
              -top-10
              -left-10
              h-[480px]
              w-[480px]
              rotate-45
              mask mask-hexed
              bg-indigo-50
              dark:bg-indigo-500/5
              z-0
            "
          ></div>

          <!--Grid-->
          <div class="relative grid grid-cols-1 md:grid-cols-2 gap-6 z-10">
            <!--Grid item-->
            <div
              class="
                w-full
                p-6
                ptablet:p-4
                rounded-2xl
                bg-white
                dark:bg-muted-800
                border border-muted-200
                dark:border-muted-700
                shadow-xl shadow-muted-400/10
                dark:shadow-muted-800/10
              "
            >
              <div class="flex items-center">
                <span
                  class="
                    flex
                    items-center
                    justify-center
                    w-8
                    h-8
                    rounded-full
                    bg-yellow-100
                    dark:bg-yellow-400/10
                    text-yellow-500
                  "
                >
                  <i
                    class="iconify w-5 h-5"
                    data-icon="ph:lightning-duotone"
                  ></i>
                </span>
                <span
                  class="
                    ml-2
                    text-sm
                    font-medium
                    text-muted-500
                    dark:text-muted-300
                  "
                >
                  Active users
                </span>
              </div>
              <span
                class="
                  block
                  fon-sans
                  text-3xl text-muted-800
                  dark:text-muted-100
                  font-semibold
                  mt-4
                "
              >
                79,320
              </span>
              <div class="flex font-sans text-xs mt-3 font-medium">
                <span class="text-green-500">+8%</span>
                <span class="ml-1 text-muted-500 dark:text-muted-400">
                  this year
                </span>
              </div>
            </div>
            <!--Grid item-->
            <div
              class="
                w-full
                p-6
                ptablet:p-4
                rounded-2xl
                bg-white
                dark:bg-muted-800
                border border-muted-200
                dark:border-muted-700
                shadow-xl shadow-muted-400/10
                dark:shadow-muted-800/10
              "
            >
              <div class="flex items-center">
                <span
                  class="
                    flex
                    items-center
                    justify-center
                    w-8
                    h-8
                    rounded-full
                    bg-indigo-100
                    dark:bg-indigo-500/10
                    text-indigo-500
                  "
                >
                  <i
                    class="iconify w-5 h-5"
                    data-icon="ph:briefcase-duotone"
                  ></i>
                </span>
                <span
                  class="
                    ml-2
                    text-sm
                    font-medium
                    text-muted-500
                    dark:text-muted-300
                  "
                >
                  Jobs listed
                </span>
              </div>
              <span
                class="
                  block
                  font-sans
                  text-3xl text-muted-800
                  dark:text-muted-100
                  font-semibold
                  mt-4
                "
              >
                289,378
              </span>
              <div class="flex font-sans text-xs mt-3 font-medium">
                <span class="text-green-500">+19%</span>
                <span class="ml-1 text-muted-500 dark:text-muted-400">
                  this year
                </span>
              </div>
            </div>
            <!--Grid item-->
            <div
              class="
                w-full
                p-6
                ptablet:p-4
                rounded-2xl
                bg-white
                dark:bg-muted-800
                border border-muted-200
                dark:border-muted-700
                shadow-xl shadow-muted-400/10
                dark:shadow-muted-800/10
              "
            >
              <div class="flex items-center">
                <span
                  class="
                    flex
                    items-center
                    justify-center
                    w-8
                    h-8
                    rounded-full
                    bg-emerald-100
                    dark:bg-emerald-500/10
                    text-emerald-500
                  "
                >
                  <i
                    class="iconify w-5 h-5"
                    data-icon="ph:handshake-duotone"
                  ></i>
                </span>
                <span
                  class="
                    ml-2
                    text-sm
                    font-medium
                    text-muted-500
                    dark:text-muted-300
                  "
                >
                  Hires signed
                </span>
              </div>
              <span
                class="
                  block
                  font-sans
                  text-3xl text-muted-800
                  dark:text-muted-100
                  font-semibold
                  mt-4
                "
              >
                56,228
              </span>
              <div class="flex font-sans text-xs mt-3 font-medium">
                <span class="text-green-500">+19%</span>
                <span class="ml-1 text-muted-500 dark:text-muted-400">
                  this year
                </span>
              </div>
            </div>
            <!--Grid item-->
            <div
              class="
                w-full
                p-6
                ptablet:p-4
                rounded-2xl
                bg-white
                dark:bg-muted-800
                border border-muted-200
                dark:border-muted-700
                shadow-xl shadow-muted-400/10
                dark:shadow-muted-800/10
              "
            >
              <div class="flex items-center">
                <span
                  class="
                    flex
                    items-center
                    justify-center
                    w-8
                    h-8
                    rounded-full
                    bg-pink-100
                    dark:bg-pink-500/10
                    text-pink-500
                  "
                >
                  <i class="iconify w-5 h-5" data-icon="ph:timer-duotone"></i>
                </span>
                <span
                  class="
                    ml-2
                    text-sm
                    font-medium
                    text-muted-500
                    dark:text-muted-300
                  "
                >
                  Time lost
                </span>
              </div>
              <span
                class="
                  block
                  font-sans
                  text-3xl text-muted-800
                  dark:text-muted-100
                  font-semibold
                  mt-4
                "
              >
                -25K hrs
              </span>
              <div class="flex font-sans text-xs mt-3 font-medium">
                <span class="text-rose-500">-15%</span>
                <span class="ml-1 text-muted-500 dark:text-muted-400">
                  this year
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Column-->
      <div class="w-full md:w-1/2 relative p-6">
        <!--Section content-->
        <div class="w-full max-w-lg space-y-4">
          <!--Badge-->
          <span
            class="
              inline-block
              font-sans
              text-xs
              py-1.5
              px-3
              m-1
              rounded-lg
              bg-indigo-100
              text-indigo-500
              dark:bg-indigo-500 dark:text-white
            "
          >
            Reporting tools
          </span>
          <!--Title-->
          <h2
            class="
              font-heading font-bold
              text-4xl text-muted-800
              dark:text-white
            "
          >
            Our metrics and statistics speak for us
          </h2>
          <!--Subtitle-->
          <p class="font-sans text-lg text-muted-500 dark:text-muted-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tum
            Torquatus: Prorsus, inquit, assentior; Videmus igitur ut
            conquiescere.
          </p>
          <!--Link-->
          <a
            href="#"
            class="
              group
              inline-flex
              items-center
              gap-4
              text-primary-500
              hover:text-primary-400
              transition-colors
              duration-300
            "
          >
            <span class="font-sans font-medium text-sm">See how it works</span>
            <i
              class="
                iconify
                w-4
                h-4
                group-hover:translate-x-1
                transition-transform
                duration-300
              "
              data-icon="lucide:arrow-right"
            ></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
