<section class="w-full py-12 px-4 bg-white dark:bg-muted-900 overflow-hidden">
  <!--Container-->
  <div class="w-full max-w-7xl mx-auto z-10">
    <!--Content-->
    <div
      class="relative flex flex-col items-center mx-auto ltablet:flex-row-reverse ltablet:max-w-5xl lg:flex-row-reverse lg:max-w-5xl xl:max-w-6xl"
    >
      <!-- Column -->
      <div
        class="w-full h-64 ptablet:h-[475px] ltablet:w-1/2 ltablet:h-auto lg:w-1/2 lg:h-auto"
      >
        <img
          class="h-full w-full object-cover"
          src="/img/photo/600x600/4.jpg"
          alt="Woman wondering"
          width="576"
          height="576"
        />
      </div>

      <!-- Column -->
      <div
        class="max-w-lg bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 md:max-w-2xl md:z-10 md:shadow-xl md:shadow-muted-400/10 dark:md:shadow-muted-800/10 md:absolute md:top-0 md:mt-48 ltablet:w-3/5 ltablet:left-0 ltablet:mt-20 ltablet:ml-20 lg:w-3/5 lg:left-0 lg:mt-20 lg:ml-20 xl:mt-24 xl:ml-12"
      >
        <!-- Content -->
        <div class="flex flex-col p-12 md:px-16">
          <h2
            class="font-heading font-bold text-2xl ltablet:text-4xl lg:text-4xl text-muted-800 dark:text-white"
          >
            Still not convinced?
          </h2>
          <p class="font-sans text-muted-500 dark:text-muted-400 mt-4">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
          <!-- Buttons -->
          <div class="flex items-center gap-4 mt-8">
            <a
              href="#"
              class="inline-block w-full text-center text-base font-medium text-gray-100 bg-primary-500 py-4 px-10 hover:bg-primary-600 hover:shadow-xl hover:shadow-primary-500/20 md:w-44 rounded-xl tw-accessibility transition-all duration-300"
            >
              Get Started
            </a>
            <p
              class="hidden md:block font-sans text-sm text-muted-500 dark:text-muted-400"
            >
              No credit card required
            </p>
          </div>
        </div>
      </div>
    </div>

    <!--Customers-->
    <div class="w-full max-w-3xl mx-auto pt-20 pb-6">
      <div class="text-center mb-6">
        <h4 class="font-sans text-muted-400">
          We already work with these great companies
        </h4>
      </div>

      <div class="grid grid-cols-2 md:grid-cols-4 gap-y-8">
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/asuna.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/bobcot.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/vonmo.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/covenant.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/infinite.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/tribe.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/kromo.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/natchpay.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/phasekit.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/tetra.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/grubspot.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
        <!--Client-->
        <div class="flex items-center justify-center">
          <img
            src="/img/brands/gutwork.svg"
            class="block max-w-[110px] mx-auto object-contain dark:invert"
            alt="Client logo"
            width="110"
            height="32"
          />
        </div>
      </div>
    </div>
  </div>
</section>
